
@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root{
    --Primary-color:#DF6951;
    --Secondary-color:#F1A501;
    --Heading-color:#14183E;
    --Text-color:#5E6282;
    --Card-heading-color:#1E1D4C;
    --Bg-color:white;
    --Nav-item-color:#212832;
    --header-font:"Volkhov", serif;
}

*{
    padding:0;
    margin:0;
font-family: "Inter", sans-serif;
box-sizing: border-box;
}

body{
    width:100%;
    height:auto;
    overflow-x: hidden;
    position: relative;
}

@mixin container-width(){
 width:80%;
    position: relative;
     left: calc(50% - 40%);
}

#deco{
    width:680px ;
    position: absolute;
    top: -110px;
    right: -70px;
}

#eli{
  position: absolute;
    top: -400px;
    left: -300px;  
}


.header{
    width:100%;
    position:relative;
    padding:30px 0;
    background-color: rgba(255, 255, 255,0.4);
    backdrop-filter: blur(15px);
    position:sticky;
    top:0;
    z-index: 100;

.nav-bar{
   @include container-width();
     display:flex;
     justify-content: center;
     align-items: center;

     .bugger{
        width: 40px;
        height: 40px;
        border-radius:10px;
        border:1px solid var(--Primary-color);
        display: none;
        justify-content: center;
        align-items:center;

        i{
           font-size: 24px;
           color: var(--Primary-color);
        }
     }
   
}
  
    #logo{
        width:70px;
        position: absolute;
        left: 0;
    }

    nav{
        display: flex;
        gap: 45px;

        a{
            text-decoration: none;
            color:var(--Nav-item-color);
        }
    }

    .btns{
        position: absolute;
        right: 0;
        display: flex;
        gap:10px;
        align-items: center;
      

        button{
padding: 8px;
width: 90px;
  background-color: transparent;
   border-radius: 5px;
        }

        #login{
            border: none;
           
        }

        #sign-up{
            border: 1px solid var(--Nav-item-color);
        }

        a{
            text-decoration: none;
            color: var(--Nav-item-color);
        }
    }

}

#hero{
    width:100%;
    height: auto;
   
    position: relative;

    .hero-holder{
       @include container-width();
        height: auto;
        display: grid;
        grid-template-columns: 50% 50%;

        .col-1{
            h5{
                text-transform: uppercase;
                color:var(--Primary-color);
                margin-top: 70px;
            }

            h1{
                font-size: 60px;
                font-family:var(--header-font);
                color:var(--Heading-color);
                font-weight:bold;
                line-height:65px;
            }

            p{
                padding-top: 35px;
                 line-height:30px;
                 color:var(--Text-color);
            }

            .btns{
                display:flex;
                margin-top:40px;
                gap:25px;
                align-items: center;

                .find-out{
                    width:140px;
                    border:none;
                    background-color:var(--Secondary-color);
                    color:white;
                    border-radius:8px;
                    padding:15px;
                    box-shadow: 5px 15px 50px rgba(241, 165, 1,0.3)
                }

                .play{
                    display: flex;
                    text-decoration:none;
                    align-items: center;
                    color:var(--Text-color);
                    gap:10px;

                    .circle{
                        width:42px;
                        height:42px;
                        border-radius:50%;
                        background-color:var(--Primary-color);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color:white;
                        font-size:24px;
                    }
                }
            }
        }

        .col-2{
            display:flex;
            
            img{
                width:600px;
                height: 600px;
            }
        }
    }
}

#category{
      width:100%;
    position: relative;
    margin-top: 50px;
    height: auto;

    .category-holder{
        @include container-width();
        text-align: center;
        height: auto;

        #stars{
            position: absolute;
            right:0;
        }

        h5{
            color:var(--Text-color);
          
        }

        h1{
              font-family: var(--header-font);
              color: var(--Card-heading-color);
        }

        .row{
            margin-top:50px;
            display:grid;
            grid-template-columns:25% 25% 25% 25% ;

            .col{
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
               

                &:hover{
                    
                    .card{
                        transition: 0.5s;
                        box-shadow: 25px 25px 25px rgba(201, 204, 228, 0.2);
                    }

                    .shape{
                        background-color:#DF6951;
                          transition: 0.5s;
                    }
                }

                .shape{
                    width:80px;
                    height: 75px;
                    background-color: transparent;
                    border-radius: 22px 22px 10px 4px;
                    position: absolute;
                    bottom: -25px;
                    left: 0;
                      transition: 0.5s;
                }

                .card{
                    transition: 0.5s;
                    width:80%;
                    padding:35px;
                    border-radius: 25px;
                    background-color: white;
                    z-index: 10;

                    img{
                        width:60px;
                    }
                    h4{
                        color: var(--Card-heading-color);
                        font-weight: bold;
                        margin-top: 15px;
                    }
                    p{
                        color:var(--Text-color);
                        font-size: 14px;
                        padding-top: 10px;
                    }
                }
            }
        }

    }
}

#destination{
    width:100%;
    height: auto;
    position: relative;
    margin-top:70px;

    .destination-holder{
        @include container-width();
        

        h5{
            color:var(--Text-color);
            text-align: center;
        }

        h1{
            font-family: var(--header-font);
            color:var(--Heading-color);
            text-align: center;
        }

        .row{
            width:100%;
            position: relative;
            display: grid;
             grid-template-columns: repeat(3, 1fr);
             margin-top: 60px;

             .col{
                width:100%;
                .card{
                    position: relative;
                    width: 90%;
                    left: calc(50% - 45%);
                    height: 400px;
                    border-radius: 26px;
                     box-shadow: 25px 25px 25px rgba(201, 204, 228, 0.2);
                     overflow: hidden;

                    img{
                        width: 100%;
                        height: 400px;
                         border-radius: 26px;
                    }

                    .card-body{
                        padding: 16px;
                        background-color: white;
                        position: absolute;
                        bottom: -2px;
                        width: 100%;
                        height: 100px;

                        .country{
                            font-size: 12px;
                            position: relative;
                            color: var(--Text-color);
                              margin-top:10px;

                            #amt{
                                position: absolute;
                                right: 0px;
                            }
                        }

                        .mb{
                            font-size: 12px;
                            color: var(--Text-color);
                            margin-top:12px;
                        }
                    }
                }
             }
        }
    }
}


@media screen and (max-width:800px){

    #deco{
   display: none;
    }

    .header{
        .nav-bar{
            width: 90%;
              left: calc(50% - 45%);
            .bugger{
                display:flex;
                position:absolute;
                right:0;
            }
        }

        nav{
            display: none;
        }

        .btns{
            display: none;
        }
    }

    #hero{
     height: auto;
.hero-holder{
     width: 90%;
              left: calc(50% - 45%);
              display: block;
               height: auto;

              .col-1{
                h5{
                    margin-top:40px;
                }

                h1{
                    font-size:50px;
                      line-height: 55px;
                      margin-top:10px;
                }

                p{
                    padding-top: 20px;
                }
              }

              .col-2{
                justify-content: center;
                align-items: center;
                margin-top:50px ;

                img{
                    width:400px;
                    height:400px;
                    
                }
              }
}
    }

    #category{
        .category-holder{
            h1{
                font-size:20px;
            }
 .row{
            display: block;

            .col{
                margin-top:30px;
            }
        }
        }
       
    }

    #destination{
          margin-top:50px;

          .destination-holder{
.row{
    display: block;
    margin-top: 30px;

    .col{
        margin-top: 20px;

        .card{
            width: 100%;
        }
    }
}
          }
    }
}